<!-- Navbar
<nav>
    <div class="container">
        <div class="navbar">
            <div class="logo"> <a href="#"> #freelance </a> </div>
            <ul class="menu">
                <li class="menu__item"><a href="#" class="menu__item-link" data-scroll>Портфолио</a></li>
                <li class="menu__item"><a href="#" class="menu__item-link" data-scroll>Инфо</a></li>
                <li class="menu__item"><a href="#" class="menu__item-link" data-scroll>Контакты</a></li>
            </ul>
            <div class="burger">
                <span></span>
            </div>
        </div>
    </div>
</nav> -->
<header class="header">
    <div class="container">
      <nav class="navbar">
        <a href="#about"><img src="/img/Group01.svg" class="navbar__image"></a>
        <ul class="menu">
          <li class="menu__item"><a href="#projects" class="menu__item-link">Our projects</a></li>
          <li class="menu__item"><a href="#team" class="menu__item-link">Team</a></li>
          <li class="menu__item"><a href="#feedback" class="menu__item-link">Feedback</a></li>
          <li class="menu__item"><a href="#contacts" class="menu__item-link">Contacts</a></li>
          <li class="menu__item"><a href="tel:+380960272452" class="btn">Call us</a></li>
        </ul>
        <div class="burger">
            <span></span>
        </div>
      </nav>
    </div>
    
  </header>