.info {
    margin-top: 284px;
    margin-bottom: 140px;

    &_01 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 99px;
    }

    &__image-left {
        margin-right: 60px;
        transition-duration: 2000ms;
    }

    &__image-left:hover {
        transform: scale(110%);
        transition-duration: 2000ms;
    }

    &_02 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 99px;
    }

    &__image-right {
        float: right;
        margin-left: 179px;
        transition-duration: 2000ms;
    }

    &__image-right:hover {
        transform: scale(120%);
        transition-duration: 2000ms;
    }

    &_03 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 88px;
    }
}

.intoduction {
    max-width: 450px;
}

.location {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    width: 100%;

    &:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        background: #0E0D0A;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
      &:hover:after { 
        width: 100%; 
        left: 0; 
      }
}

.description, .description_02, .desc_p2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

.description {
    margin-top: 64px;
    margin-bottom: 42px;
}

.description_02 {
    margin-bottom: 42px;
}

.einweisung {
    height: 100vh;
    width: 100%;
}

