.capacity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 260px;

    &__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        margin-bottom: 18px;

        &:after {    
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            background: #0E0D0A;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
          }
          &:hover:after { 
            width: 66%; 
            left: 0; 
          }
    }

    &__info ul li {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 42px;
        margin-bottom: 20px;
        max-width: 560px;
        transition-duration: 2000ms;
    }

    &__info ul li:hover {
        transform: scale(120%);    
        transition-duration: 2000ms;
    }

    img {
        max-width: 570px;
        max-height: 595px;
        border-radius: 10px;
    }
}